<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>My Login Page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/my-login.css' %}">
	<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>

<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="{% static 'img/logo.png' %}" alt="logo">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title" style="text-align: center">登录页面</h4>
							<form method="POST" id="mys-login-validation" class="my-login-validation">
								<div class="form-group">
									<label for="username">账号</label>
									<input id="username" type="text" class="form-control" name="username" value="" required autofocus>
								</div>

								<div class="form-group">
									<label for="password">密码
										<a href="#" class="float-right">忘记密码？</a>
									</label>
									<input id="password" type="password" class="form-control" name="password" required data-eye>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block" id="login">登录</button>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						中山大学课室管理系统 &mdash; 2019 
					</div>
				</div>
			</div>
		</div>
	</section>

    <script>

    	$("#login").bind("click",function(){
    		$.ajax({
    			type : 'get',
    			cache : false,
    			url :  "{% url 'login' %}",
    			data : {
    				'username' : $("#username").val(),
    				'password' : $("password").val(),
    			},
    			success : function(data){
    				if (data['status'] == 'error'){

    				}
    				else
    					window.location.href = "{% url 'homepage' %}";
    			}
    		})
    	})
    </script>
	<!-- <script src="js/my-login.js"></script> -->
</body>
</html>
